* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: white;
  transition: color 0.2s ease-out;

  &:hover {
    color: black;
  }
}

body {
  background-color: #6fcdbd;
  color: white;
  padding: 1%;
  max-width: 1024px;
  margin: 0 auto;
}

html {
  font-family: Montserrat, "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
}
