@import "variables";

* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: $color-foreground;
  transition: color 0.2s ease-out;

  &:hover {
    color: $color-hover;
  }
}

body {
  background-color: $color-background;
  color: $color-foreground;
  padding: 1%;
  max-width: $max-body-width;
  margin: 0 auto;
}

html {
  font-family: Montserrat, "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
}
