nav {
  a {
    border-bottom: 1px dotted white;
    text-decoration: none;
    transition: color 0.2s ease-out, border-bottom 0.2s ease-out;

    &:hover {
      border-bottom: 1px dotted black;
    }

    &::before {
      content: "↼";
    }
  }
}
