.section-header {
  border-bottom: 1px solid white;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .project-card {
    margin: 1%;
    padding: 1%;
    border: 10px solid white;
    //box-shadow: 3px 3px 3px black;
    width: 48%;

    @media (max-width: 600px) {
      width: 98%;
    }
  }
}
