.section-header {
  border-bottom: 1px solid white;
}

.projects-container {
  display: flex;
  justify-content: space-around;

  .project-card {
    margin: 1%;
    padding: 1%;
    border: 10px solid white;
    //box-shadow: 3px 3px 3px black;
    width: 48%;
  }
}
