<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Template</title>
    <meta name="description" content="Template">
    <meta name="author" content="LeRoyce Pearson">

    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <main>
        <header class="section-header">
            <h1>{{ section.title }}</h1>
            <div>
                {{ section.content | safe }}
            </div>
        </header>
        <section class="projects-container">
            {% for page in section.pages %}
            <div class="project-card">
                <h3>{{ page.title }}</h3>
                <h3>{{ page.description }}</h3>
            </div>
            {% endfor %}
        </section>
    </main>
</body>

</html>
